html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: #757575;
  background-color: #fff;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

input,
button {
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}

.container {
  width: 100%;
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: calc(24 / 16);
  border-radius: 10px;
  transition: all 0.25s;
  text-transform: unset;
  min-width: unset !important;
  box-shadow: none !important;
  border: none;
  &:active {
    transform: translateY(2px);
  }
  &.btn-white {
    color: #064866;
    background-color: #fff;
    &:hover {
      background-color: #00bdc7;
      color: #fff;
    }
  }
  &.btn-blue {
    background-color: #00bdc7;
    color: #fff;
    &:hover {
      opacity: 0.7;
    }
  }
  &.btn-outline {
    border: 1px solid #ffffff;
    color: #ffffff;
    &:hover {
      background-color: #00bdc7;
      color: #fff;
      border-color: #00bdc7;
    }
  }
}

.heading-block {
  text-align: center;
  margin: 0 auto 36px;
  .title {
    font-weight: 600;
    font-size: 42px;
    line-height: calc(63 / 42);
    color: #064866;
    padding-bottom: 8px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100px;
      height: 3px;
      background-color: #00bdc7;
    }
  }
  .desc {
    font-size: 14px;
    line-height: 21px;
    margin-top: 24px;
  }
}

.homepage-wrapper {
  .header-block {
    display: block;
    padding-top: 24px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    .header-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .header-logo {
      flex-shrink: 0;
    }
    .header-menu {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 0 40px;
    }
    .header-item {
      &:hover {
        .header-link {
          color: #00bdc7;
          &::after {
            width: 100%;
            left: 0;
            right: auto;
          }
        }
      }
    }
    .header-link {
      font-weight: 600;
      font-size: 14px;
      line-height: calc(21 / 14);
      color: #ffffff;
      transition: all 0.25s;
      padding: 4px 0;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        height: 3px;
        background-color: #00bdc7;
        left: auto;
        right: 0;
        width: 0;
        bottom: 0;
        transition: all 0.25s;
        border-radius: 999px;
      }
    }
    .contact-btn {
      height: 36px;
      padding: 0 26px;
      font-size: 14px;
      border-radius: 8px;
    }
    .header-toggle {
      display: none;
      div {
        width: 40px;
        height: 5px;
        background-color: #fff;
        border-radius: 999px;
        pointer-events: none;
        &:not(:last-child) {
          margin-bottom: 6px;
        }
        &:first-child {
          width: 24px;
        }
        &:last-child {
          width: 30px;
        }
      }
    }
  }

  .banner-block {
    display: block;
    position: relative;
    .banner-item {
      position: relative;
      min-height: 726px;
      z-index: 0;
      display: flex;
      align-items: center;
    }
    .banner-content {
      max-width: 1000px;
    }
    .caption {
      font-weight: 600;
      font-size: 64px;
      line-height: 1.19;
      color: #ffffff;
      margin-bottom: 24px;
    }
    .desc {
      font-size: 18px;
      line-height: 150%;
      color: #e6eaee;
      margin-bottom: 36px;
    }
    .banner-img {
      position: absolute;
      inset: 0;
      z-index: -1;
      img {
        height: 100%;
      }
      &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 71, 103, 0.8);
      }
    }
    .button-group {
      display: flex;
      align-items: center;
      gap: 0 12px;
      .btn {
        max-width: 180px;
        height: 56px;
      }
    }
    .banner-swiper-pagination {
      position: absolute;
      bottom: 42px;
      left: 0;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0 16px;
    }
    .swiper-pagination-bullet {
      width: 16px;
      height: 16px;
      margin: 0 !important;
      background: rgba(255, 255, 255, 0.7);
      opacity: 1;
      &.swiper-pagination-bullet-active {
        background: #00bdc7;
        border: 1px solid #ffffff;
      }
    }
  }

  .partner-block {
    display: block;
    padding-top: 36px;
  }

  .solution-service-block {
    display: block;
    padding-top: 50px;
    .heading-block {
      max-width: 740px;
    }
    .solution-service-accordion {
      display: flex;
    }
    .solution-item {
      cursor: pointer;
      min-height: 640px;
      max-height: 640px;
      position: relative;
      transition: all 0.25s;
      transition-duration: 0.6s;
      z-index: 0;
      padding: 120px 12px 20px;
      overflow: hidden;
      &.small {
        width: 8%;
        .content {
          display: none;
        }
      }

      &.expand {
        width: 68%;
        padding-left: 135px;
      }
      .number {
        border: 1px solid #ffffff;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        font-weight: 600;
        font-size: 32px;
        line-height: calc(48 / 32);
        color: #ffffff;
      }
      .content {
        max-width: 720px;
      }
      .title {
        font-weight: 600;
        font-size: 24px;
        line-height: 150%;
        color: #ffffff;
        margin: 36px 0 24px;
      }
      .text {
        line-height: 150%;
        color: #f5f5f5;
        font-size: 16px;
        p {
          margin-bottom: 0;
          &:not(:last-child) {
            margin-bottom: 12px;
          }
        }
      }
    }
    .solution-bg {
      position: absolute;
      inset: 0;
      z-index: -1;
      img {
        height: 100%;
      }
      &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(90deg, #213449 0%, rgba(33, 52, 73, 0.8) 100%);
        opacity: 0.8;
      }
    }
  }

  .customer-block {
    display: block;
    padding-top: 80px;
    .customer-swiper {
      position: relative;
    }
    .customer-item {
      background: #ffffff;
      border: 1px solid #bdbdbd;
      border-radius: 16px;
      display: flex;
      align-items: stretch;
      overflow: hidden;
    }
    .customer-img {
      width: 100%;
      max-width: 460px;
      position: relative;
      padding-top: 37.6%;
      img {
        position: absolute;
        inset: 0;
        height: 100%;
      }
    }
    .company-logo {
      max-width: 237px;
      margin-bottom: 24px;
    }
    .customer-content {
      width: 100%;
      line-height: 1.5;
      max-width: calc(100% - 460px);
      padding: 36px 40px 20px;
      .text {
        p {
          &:not(:last-child) {
            margin-bottom: 20px;
          }
        }
      }
      .author {
        margin-top: 36px;
      }
      .name {
        font-weight: 600;
        font-size: 18px;
        color: #064866;
        margin-bottom: 4px;
      }
      .job {
        font-size: 14px;
        margin-bottom: 4px;
      }
      .company-name {
        font-size: 14px;
      }
    }
    .swiper-wrapper {
      align-items: stretch;
    }
    .swiper-slide {
      height: auto;
    }
    .customer-swiper-navigation {
      position: absolute;
      right: 20px;
      bottom: 20px;
      z-index: 10;
      display: flex;
      align-items: stretch;
      gap: 0 18px;
    }
    .customer-swiper-button-next,
    .customer-swiper-button-prev {
      position: unset;
      margin: 0;
      width: 43px;
      height: 43px;
      border: 3px solid #757575;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.25s;
      &::after {
        display: none;
      }
      svg {
        path {
          transition: all 0.25s;
        }
      }
      &:hover {
        border-color: #00bdc7;
        background-color: #00bdc7;
        svg {
          path {
            fill: #fff;
          }
        }
      }
    }
    .customer-swiper-button-next {
      transform: rotate(180deg);
    }
  }

  .achievement-block {
    display: block;
    padding-top: 80px;
    .heading-block {
      margin-bottom: 50px;
    }
  }

  .industry-block {
    display: block;
    .heading-block {
      max-width: 740px;
    }
    .industry-item {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      background: #004767;
      border-radius: 16px;
      overflow: hidden;
      height: auto;
    }
    .content {
      width: 100%;
      max-width: 50%;
      text-align: center;
      padding: 64px 40px 20px;
      color: #fff;
      line-height: 1.5;
      flex: 1;
      .icon {
        margin-bottom: 24px;
      }
      .title {
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 16px;
      }
      .desc {
        font-size: 14px;
        margin-bottom: 24px;
      }
      .readmore-btn {
        max-width: 180px;
        margin: 0 auto;
      }
    }
    .img {
      width: 100%;
      max-width: 50%;
      background: linear-gradient(90deg, #48c6ef 0%, #6f86d6 100%);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 60px 20px;

      .img-main {
        max-width: 365px;
        overflow: hidden;
      }
    }
    .industry-swiper-pagination {
      position: unset;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0 12px;
      margin-top: 36px;
      .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        margin: 0 !important;
        background: #064866;
        opacity: 0.3;
        &.swiper-pagination-bullet-active {
          opacity: 1;
        }
      }
    }
  }

  .your-project-block {
    display: block;
    margin-top: 80px;
    padding: 60px 0;
    background: linear-gradient(to top, rgba(38, 50, 56, 0.85), rgba(38, 50, 56, 0.85)),
      url("../img/project-bg.jpg") center / cover no-repeat;
    .heading-block {
      max-width: 720px;
      .title {
        font-size: 28px;
        line-height: calc(42 / 28);
        color: #ffffff;
        padding-bottom: 0;
        &::after {
          display: none;
        }
      }
      .desc {
        margin-top: 12px;
        color: #f5f5f5;
      }
    }
    .your-project-form {
      max-width: 532px;
      margin: 0 auto;
    }
    .input-item {
      position: relative;
      &:not(:last-child) {
        margin-bottom: 12px;
      }
      input[type="text"],
      textarea {
        width: 100%;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 8px;
        border: none;
        outline: none;
        padding: 14px 20px;
        font-size: 14px;
        line-height: 1.5;
        color: #e5e5e5;
        &::placeholder {
          color: #e5e5e5;
          font-style: italic;
        }
      }
      input[type="text"] {
        height: 48px;
      }
      textarea {
        height: 148px;
        resize: none;
      }
      .browse-btn {
        background: #ffffff;
        border-radius: 4px;
        font-size: 11px;
        line-height: calc(16 / 11);
        color: #757575;
        position: absolute;
        left: 20px;
        bottom: 16px;
        height: 26px;
        width: unset;
        &:hover {
          color: #fff;
          background-color: #00bdc7;
        }
      }
    }
    .action {
      margin-top: 36px;
    }
    .send-btn {
      max-width: 156px;
      margin: 0 auto;
    }
  }
}

.footer-block {
  display: block;
  padding: 80px 0 36px;
  .footer-main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0 40px;
  }
  .logo-footer {
    margin-bottom: 24px;
  }
  .footer-info {
    line-height: 1.5;
    color: #424242;
  }
  .certification {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0 16px;
    margin-bottom: 24px;
  }
  .social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0 24px;
    font-weight: 600;
    line-height: 1.5;
    color: #424242;
  }
  .social-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0 10px;
    flex-shrink: 0;
    .item {
      flex-shrink: 0;
      svg {
        path {
          transition: all 0.25s;
        }
      }
      &:hover {
        svg {
          path {
            fill: #00bdc7;
          }
        }
      }
    }
  }
  .copyright {
    margin-top: 48px;
    text-align: center;
    a {
      color: #064866;
      font-weight: 600;
      transition: all 0.25s;
      &:hover {
        color: #00bdc7;
      }
    }
  }
}

.header-menu-mb {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  transform: translateX(100%);
  z-index: 999;
  background-color: #064866;
  padding: 60px 20px;
  width: 100%;
  max-width: 320px;
  transition: all 0.25s;
  .header-item {
    padding: 0 20px;
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
  .header-link {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    color: #ffffff;
    padding: 12px 0px;
    width: 100%;
  }
  &.active {
    transform: translateX(0);
    box-shadow: 0px 0px 20px rgba(6, 72, 102, 0.702);
  }
  .close {
    position: absolute;
    right: 20px;
    top: 20px;
    svg {
      pointer-events: none;
    }
  }
}

@media screen and (max-width: 1279px) {
  .homepage-wrapper {
    .solution-service-block {
      .solution-item {
        .number {
          width: 60px;
          height: 60px;
          font-size: 28px;
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .homepage-wrapper {
    .header-block {
      .header-menu {
        display: none;
      }
      .header-toggle {
        display: block;
      }
    }
    .banner-block {
      .caption {
        font-size: 52px;
      }
    }
    .solution-service-block {
      .solution-item {
        &.expand {
          padding-left: 50px;
        }
        .number {
          width: 40px;
          height: 40px;
          font-size: 20px;
        }
      }
    }
    .customer-block {
      .customer-img {
        max-width: 300px;
      }
      .customer-content {
        max-width: calc(100% - 300px);
      }
    }
  }
  .footer-block {
    .footer-main {
      display: block;
    }
    .footer-left {
      margin-bottom: 32px;
    }
    .certification {
      justify-content: flex-start;
    }
    .social {
      justify-content: flex-start;
    }
  }
}

@media screen and (max-width: 767px) {
  .homepage-wrapper {
    .banner-block {
      .banner-item {
        min-height: 100vh;
      }
      .caption {
        font-size: 40px;
      }
    }
    .solution-service-block {
      .solution-service-accordion {
        gap: 0 20px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        align-items: stretch;

        // HIDDEN SCROLL BAR
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
      }
      .solution-item {
        flex-shrink: 0;
        padding: 80px 20px 40px 50px;
        min-height: unset;
        max-height: unset;
        scroll-snap-align: center;
        &.small,
        &.expand {
          width: 90%;
          .content {
            display: block;
          }
        }
        .number {
          width: 60px;
          height: 60px;
          font-size: 28px;
        }
        .title {
          margin: 20px 0 12px;
        }
      }
    }
    .customer-block {
      .customer-item {
        display: block;
      }
      .customer-img {
        padding-top: 75%;
        max-width: 100%;
      }
      .customer-content {
        max-width: 100%;
        padding: 20px;
        .text {
          font-size: 14px;
          p {
            &:not(:last-child) {
              margin-bottom: 16px;
            }
          }
        }
      }
      .company-logo {
        max-width: 200px;
      }
      .customer-swiper-navigation {
        // display: none;
        position: unset;
        height: fit-content;
        justify-content: center;
        margin-top: 20px;
        gap: 0 10px;
      }
    }
    .industry-block {
      padding-top: 80px;
      .industry-item {
        flex-direction: column-reverse;
      }
      .content,
      .img {
        max-width: 100%;
        padding: 20px;
      }
      .img {
        position: relative;
        width: 100%;
        padding: 0;
        padding-top: 75%;

        .img-main {
          width: 100%;
          position: absolute;
          max-width: 80%;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          img {
            height: 100%;
          }
        }
      }
    }
  }
  .heading-block {
    .title {
      font-size: 32px;
    }
  }
  .footer-block {
    .logo-footer {
      max-width: 200px;
    }
  }
}

@media screen and (max-width: 374px) {
  .homepage-wrapper {
    .header-block {
      .header-logo {
        max-width: 200px;
      }
    }
    .banner-block {
      .caption {
        font-size: 32px;
      }
      .desc {
        font-size: 14px;
      }
      .banner-swiper-pagination {
        bottom: 20px;
      }
      .button-group {
        .btn {
          font-size: 14px;
          height: 40px;
        }
      }
    }
  }

  .header-menu-mb {
    max-width: 280px;
  }
}

header,
footer,
section {
  display: none;
}
